label{
  margin: 0px 20px;
}

select{
  margin-bottom: 20px;
}

// desktop
@media only screen and (min-width:1024px) {
  h1{
    font-size: xx-large;
  }
  *{
    font-size: large;
  }
}

// tablet
@media only screen and (max-width:1024px) and (min-width:600px){
  h1{
    font-size: x-large;
  }

}

//mobile
@media only screen and (max-width:600px){
  h1{
    font-size: small;
  }

  *{
    font-size: x-small;
  }

}
