
// desktop
@media only screen and (min-width:1024px) {
  .row{
    margin-top: 40px;
  }
}

// tablet
@media only screen and (max-width:1024px) and (min-width:600px){

  .row{
    margin-top: 50px;
  }
}

@media only screen and (max-width:600px){

  .row{
    margin-top: 30px;
  }

  h1{
    font-size: x-large;
  }

}
