<div class="col-md-6">
<div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="media-left">
          <img class="media-object" src="{{contact.img}}" alt="Photo" >
        </div>
        <div class="media-body">
          <p><span>Nom : </span>{{contact.name | uppercase}}</p>
          <p><span>Prénom : </span>{{contact.firstname}}</p>
          <p><span>Email: </span>{{contact.mail}}</p>
        </div>
      </div>
    </div>
</div>
</div>

